{
  "info": {
    "title": "Postrun API",
    "version": "1.0.0",
    "description": "The posting + ads API for apps and AI agents.\n\n## Rate limits\n\nLimits are **per account** (shared across all API keys and frontend tokens),\non a sliding 1-minute window, split by method:\n\n- **Reads** (GET): 1000 per minute\n- **Writes** (POST/PUT/PATCH/DELETE): 100 per minute\n\nEvery response carries `X-RateLimit-Limit`, `X-RateLimit-Remaining`, and\n`X-RateLimit-Reset` (unix seconds). Exceeding a bucket returns\n`429 TOO_MANY_REQUESTS` with a `Retry-After` header (seconds)."
  },
  "servers": [
    {
      "url": "https://api.postrun.ai/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Postrun API key: `Authorization: Bearer pr_…`"
      }
    }
  },
  "openapi": "3.1.1",
  "paths": {
    "/profiles": {
      "post": {
        "operationId": "profiles.create",
        "summary": "Create a profile",
        "description": "Creates a profile — a client/brand workspace under your account, and the unit connections attach to.",
        "tags": [
          "Profiles"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255,
                    "description": "Display name for the profile (your client or brand)."
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 280,
                    "description": "Optional short note about the profile (a couple of sentences)."
                  },
                  "external_id": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255,
                    "description": "Your own id for this client/brand. Unique within your account — set it to look the profile up later and avoid a join table on your side."
                  },
                  "metadata": {
                    "type": "object",
                    "propertyNames": {
                      "type": "string",
                      "maxLength": 40
                    },
                    "additionalProperties": {
                      "anyOf": [
                        {
                          "type": "string",
                          "maxLength": 500
                        },
                        {
                          "type": "number"
                        },
                        {
                          "type": "boolean"
                        }
                      ]
                    },
                    "description": "Your own key/value context, returned on reads."
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Profile id."
                    },
                    "name": {
                      "type": "string",
                      "description": "Display name."
                    },
                    "description": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Optional short note, or null if unset."
                    },
                    "external_id": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Your own id for this client/brand, or null if unset."
                    },
                    "metadata": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string",
                        "maxLength": 40
                      },
                      "additionalProperties": {
                        "anyOf": [
                          {
                            "type": "string",
                            "maxLength": 500
                          },
                          {
                            "type": "number"
                          },
                          {
                            "type": "boolean"
                          }
                        ]
                      },
                      "description": "Your own key/value context (defaults to {})."
                    },
                    "created_at": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "ISO-8601 creation time."
                    },
                    "updated_at": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "ISO-8601 last-update time."
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "description",
                    "external_id",
                    "metadata",
                    "created_at",
                    "updated_at"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "type",
                    "title",
                    "status",
                    "code"
                  ],
                  "description": "An RFC 9457 problem response.",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "A URL to this code's documentation page.",
                      "examples": [
                        "https://docs.postrun.ai/errors/idempotency_key_invalid"
                      ]
                    },
                    "title": {
                      "type": "string",
                      "description": "A stable, human-readable summary of the error code.",
                      "examples": [
                        "The request failed."
                      ]
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code.",
                      "examples": [
                        400
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "idempotency_key_invalid"
                      ],
                      "description": "The machine-readable error code — branch on this. Narrowed to the codes this endpoint can return at this status.",
                      "examples": [
                        "idempotency_key_invalid"
                      ]
                    },
                    "detail": {
                      "type": "string",
                      "description": "An occurrence-specific, human-readable explanation."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "The request id, for support and log correlation."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "type",
                    "title",
                    "status",
                    "code"
                  ],
                  "description": "An RFC 9457 problem response.",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "A URL to this code's documentation page.",
                      "examples": [
                        "https://docs.postrun.ai/errors/unauthorized"
                      ]
                    },
                    "title": {
                      "type": "string",
                      "description": "A stable, human-readable summary of the error code.",
                      "examples": [
                        "Authentication is required."
                      ]
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code.",
                      "examples": [
                        401
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "unauthorized"
                      ],
                      "description": "The machine-readable error code — branch on this. Narrowed to the codes this endpoint can return at this status.",
                      "examples": [
                        "unauthorized"
                      ]
                    },
                    "detail": {
                      "type": "string",
                      "description": "An occurrence-specific, human-readable explanation."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "The request id, for support and log correlation."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "type",
                    "title",
                    "status",
                    "code"
                  ],
                  "description": "An RFC 9457 problem response.",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "A URL to this code's documentation page.",
                      "examples": [
                        "https://docs.postrun.ai/errors/forbidden"
                      ]
                    },
                    "title": {
                      "type": "string",
                      "description": "A stable, human-readable summary of the error code.",
                      "examples": [
                        "You do not have permission to perform this action."
                      ]
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code.",
                      "examples": [
                        403
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "forbidden"
                      ],
                      "description": "The machine-readable error code — branch on this. Narrowed to the codes this endpoint can return at this status.",
                      "examples": [
                        "forbidden"
                      ]
                    },
                    "detail": {
                      "type": "string",
                      "description": "An occurrence-specific, human-readable explanation."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "The request id, for support and log correlation."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "type",
                    "title",
                    "status",
                    "code"
                  ],
                  "description": "An RFC 9457 problem response.",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "A URL to this code's documentation page.",
                      "examples": [
                        "https://docs.postrun.ai/errors/not_found"
                      ]
                    },
                    "title": {
                      "type": "string",
                      "description": "A stable, human-readable summary of the error code.",
                      "examples": [
                        "The requested resource was not found."
                      ]
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code.",
                      "examples": [
                        404
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "not_found"
                      ],
                      "description": "The machine-readable error code — branch on this. Narrowed to the codes this endpoint can return at this status.",
                      "examples": [
                        "not_found"
                      ]
                    },
                    "detail": {
                      "type": "string",
                      "description": "An occurrence-specific, human-readable explanation."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "The request id, for support and log correlation."
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "409",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "type",
                    "title",
                    "status",
                    "code"
                  ],
                  "description": "An RFC 9457 problem response.",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "A URL to this code's documentation page.",
                      "examples": [
                        "https://docs.postrun.ai/errors/conflict"
                      ]
                    },
                    "title": {
                      "type": "string",
                      "description": "A stable, human-readable summary of the error code.",
                      "examples": [
                        "The request conflicts with the current state of the resource."
                      ]
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code.",
                      "examples": [
                        409
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "conflict",
                        "idempotency_request_in_progress"
                      ],
                      "description": "The machine-readable error code — branch on this. Narrowed to the codes this endpoint can return at this status.",
                      "examples": [
                        "conflict"
                      ]
                    },
                    "detail": {
                      "type": "string",
                      "description": "An occurrence-specific, human-readable explanation."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "The request id, for support and log correlation."
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "type",
                    "title",
                    "status",
                    "code"
                  ],
                  "description": "An RFC 9457 problem response.",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "A URL to this code's documentation page.",
                      "examples": [
                        "https://docs.postrun.ai/errors/idempotency_key_reused"
                      ]
                    },
                    "title": {
                      "type": "string",
                      "description": "A stable, human-readable summary of the error code.",
                      "examples": [
                        "The request failed."
                      ]
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code.",
                      "examples": [
                        422
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "idempotency_key_reused"
                      ],
                      "description": "The machine-readable error code — branch on this. Narrowed to the codes this endpoint can return at this status.",
                      "examples": [
                        "idempotency_key_reused"
                      ]
                    },
                    "detail": {
                      "type": "string",
                      "description": "An occurrence-specific, human-readable explanation."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "The request id, for support and log correlation."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "429",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "type",
                    "title",
                    "status",
                    "code"
                  ],
                  "description": "An RFC 9457 problem response.",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "A URL to this code's documentation page.",
                      "examples": [
                        "https://docs.postrun.ai/errors/rate_limited"
                      ]
                    },
                    "title": {
                      "type": "string",
                      "description": "A stable, human-readable summary of the error code.",
                      "examples": [
                        "Rate limit exceeded for this account."
                      ]
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code.",
                      "examples": [
                        429
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "rate_limited"
                      ],
                      "description": "The machine-readable error code — branch on this. Narrowed to the codes this endpoint can return at this status.",
                      "examples": [
                        "rate_limited"
                      ]
                    },
                    "detail": {
                      "type": "string",
                      "description": "An occurrence-specific, human-readable explanation."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "The request id, for support and log correlation."
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "@postrun/js",
            "source": "import { createPostrunClient, profilesCreate } from '@postrun/js';\n\nconst client = createPostrunClient({ getToken });\n\nconst { data } = await profilesCreate({\n  client,\n  body: { /* … */ },\n});"
          }
        ]
      },
      "get": {
        "operationId": "profiles.list",
        "summary": "List profiles",
        "description": "Lists the profiles under your account, newest first.",
        "tags": [
          "Profiles"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20,
              "description": "Maximum number of items to return (1–100). Defaults to 20."
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 9007199254740991,
              "default": 0,
              "description": "Number of items to skip before this page. Defaults to 0."
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "external_id",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Return only the profile with this exact external_id (your own client/brand id)."
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "metadata",
            "in": "query",
            "schema": {
              "type": "object",
              "propertyNames": {
                "type": "string",
                "maxLength": 40
              },
              "additionalProperties": {
                "anyOf": [
                  {
                    "type": "string",
                    "maxLength": 500
                  },
                  {
                    "type": "number"
                  },
                  {
                    "type": "boolean"
                  }
                ]
              },
              "description": "Filter by metadata key/value pairs (exact match; multiple keys are ANDed; omit for no filter). REST: a URL-encoded JSON object, e.g. ?metadata=%7B%22campaign%22%3A%22summer%22%2C%22priority%22%3A3%7D. SDK/MCP: pass the object directly. Values are scalars (string/number/boolean), matched type-exactly. No operators or ranges."
            },
            "style": "deepObject",
            "explode": true,
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "const": "list",
                      "description": "Always the string `list`."
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Profile id."
                          },
                          "name": {
                            "type": "string",
                            "description": "Display name."
                          },
                          "description": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "Optional short note, or null if unset."
                          },
                          "external_id": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "Your own id for this client/brand, or null if unset."
                          },
                          "metadata": {
                            "type": "object",
                            "propertyNames": {
                              "type": "string",
                              "maxLength": 40
                            },
                            "additionalProperties": {
                              "anyOf": [
                                {
                                  "type": "string",
                                  "maxLength": 500
                                },
                                {
                                  "type": "number"
                                },
                                {
                                  "type": "boolean"
                                }
                              ]
                            },
                            "description": "Your own key/value context (defaults to {})."
                          },
                          "created_at": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "ISO-8601 creation time."
                          },
                          "updated_at": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "ISO-8601 last-update time."
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "description",
                          "external_id",
                          "metadata",
                          "created_at",
                          "updated_at"
                        ]
                      },
                      "description": "The items on this page."
                    },
                    "total": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991,
                      "description": "Total items matching the query, across all pages."
                    },
                    "limit": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991,
                      "description": "The limit applied to this page."
                    },
                    "offset": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991,
                      "description": "The offset applied to this page."
                    },
                    "has_more": {
                      "type": "boolean",
                      "description": "True if more items exist after this page."
                    }
                  },
                  "required": [
                    "object",
                    "data",
                    "total",
                    "limit",
                    "offset",
                    "has_more"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "type",
                    "title",
                    "status",
                    "code"
                  ],
                  "description": "An RFC 9457 problem response.",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "A URL to this code's documentation page.",
                      "examples": [
                        "https://docs.postrun.ai/errors/idempotency_key_invalid"
                      ]
                    },
                    "title": {
                      "type": "string",
                      "description": "A stable, human-readable summary of the error code.",
                      "examples": [
                        "The request failed."
                      ]
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code.",
                      "examples": [
                        400
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "idempotency_key_invalid"
                      ],
                      "description": "The machine-readable error code — branch on this. Narrowed to the codes this endpoint can return at this status.",
                      "examples": [
                        "idempotency_key_invalid"
                      ]
                    },
                    "detail": {
                      "type": "string",
                      "description": "An occurrence-specific, human-readable explanation."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "The request id, for support and log correlation."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "type",
                    "title",
                    "status",
                    "code"
                  ],
                  "description": "An RFC 9457 problem response.",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "A URL to this code's documentation page.",
                      "examples": [
                        "https://docs.postrun.ai/errors/unauthorized"
                      ]
                    },
                    "title": {
                      "type": "string",
                      "description": "A stable, human-readable summary of the error code.",
                      "examples": [
                        "Authentication is required."
                      ]
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code.",
                      "examples": [
                        401
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "unauthorized"
                      ],
                      "description": "The machine-readable error code — branch on this. Narrowed to the codes this endpoint can return at this status.",
                      "examples": [
                        "unauthorized"
                      ]
                    },
                    "detail": {
                      "type": "string",
                      "description": "An occurrence-specific, human-readable explanation."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "The request id, for support and log correlation."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "type",
                    "title",
                    "status",
                    "code"
                  ],
                  "description": "An RFC 9457 problem response.",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "A URL to this code's documentation page.",
                      "examples": [
                        "https://docs.postrun.ai/errors/forbidden"
                      ]
                    },
                    "title": {
                      "type": "string",
                      "description": "A stable, human-readable summary of the error code.",
                      "examples": [
                        "You do not have permission to perform this action."
                      ]
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code.",
                      "examples": [
                        403
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "forbidden"
                      ],
                      "description": "The machine-readable error code — branch on this. Narrowed to the codes this endpoint can return at this status.",
                      "examples": [
                        "forbidden"
                      ]
                    },
                    "detail": {
                      "type": "string",
                      "description": "An occurrence-specific, human-readable explanation."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "The request id, for support and log correlation."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "type",
                    "title",
                    "status",
                    "code"
                  ],
                  "description": "An RFC 9457 problem response.",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "A URL to this code's documentation page.",
                      "examples": [
                        "https://docs.postrun.ai/errors/not_found"
                      ]
                    },
                    "title": {
                      "type": "string",
                      "description": "A stable, human-readable summary of the error code.",
                      "examples": [
                        "The requested resource was not found."
                      ]
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code.",
                      "examples": [
                        404
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "not_found"
                      ],
                      "description": "The machine-readable error code — branch on this. Narrowed to the codes this endpoint can return at this status.",
                      "examples": [
                        "not_found"
                      ]
                    },
                    "detail": {
                      "type": "string",
                      "description": "An occurrence-specific, human-readable explanation."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "The request id, for support and log correlation."
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "409",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "type",
                    "title",
                    "status",
                    "code"
                  ],
                  "description": "An RFC 9457 problem response.",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "A URL to this code's documentation page.",
                      "examples": [
                        "https://docs.postrun.ai/errors/conflict"
                      ]
                    },
                    "title": {
                      "type": "string",
                      "description": "A stable, human-readable summary of the error code.",
                      "examples": [
                        "The request conflicts with the current state of the resource."
                      ]
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code.",
                      "examples": [
                        409
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "conflict",
                        "idempotency_request_in_progress"
                      ],
                      "description": "The machine-readable error code — branch on this. Narrowed to the codes this endpoint can return at this status.",
                      "examples": [
                        "conflict"
                      ]
                    },
                    "detail": {
                      "type": "string",
                      "description": "An occurrence-specific, human-readable explanation."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "The request id, for support and log correlation."
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "type",
                    "title",
                    "status",
                    "code"
                  ],
                  "description": "An RFC 9457 problem response.",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "A URL to this code's documentation page.",
                      "examples": [
                        "https://docs.postrun.ai/errors/idempotency_key_reused"
                      ]
                    },
                    "title": {
                      "type": "string",
                      "description": "A stable, human-readable summary of the error code.",
                      "examples": [
                        "The request failed."
                      ]
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code.",
                      "examples": [
                        422
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "idempotency_key_reused"
                      ],
                      "description": "The machine-readable error code — branch on this. Narrowed to the codes this endpoint can return at this status.",
                      "examples": [
                        "idempotency_key_reused"
                      ]
                    },
                    "detail": {
                      "type": "string",
                      "description": "An occurrence-specific, human-readable explanation."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "The request id, for support and log correlation."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "429",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "type",
                    "title",
                    "status",
                    "code"
                  ],
                  "description": "An RFC 9457 problem response.",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "A URL to this code's documentation page.",
                      "examples": [
                        "https://docs.postrun.ai/errors/rate_limited"
                      ]
                    },
                    "title": {
                      "type": "string",
                      "description": "A stable, human-readable summary of the error code.",
                      "examples": [
                        "Rate limit exceeded for this account."
                      ]
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code.",
                      "examples": [
                        429
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "rate_limited"
                      ],
                      "description": "The machine-readable error code — branch on this. Narrowed to the codes this endpoint can return at this status.",
                      "examples": [
                        "rate_limited"
                      ]
                    },
                    "detail": {
                      "type": "string",
                      "description": "An occurrence-specific, human-readable explanation."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "The request id, for support and log correlation."
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "@postrun/js",
            "source": "import { createPostrunClient, profilesList } from '@postrun/js';\n\nconst client = createPostrunClient({ getToken });\n\nconst { data } = await profilesList({\n  client,\n  query: { /* filters */ },\n});"
          }
        ]
      }
    },
    "/profiles/{id}": {
      "get": {
        "operationId": "profiles.get",
        "summary": "Retrieve a profile",
        "description": "Retrieves a single profile by id.",
        "tags": [
          "Profiles"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Profile id."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Profile id."
                    },
                    "name": {
                      "type": "string",
                      "description": "Display name."
                    },
                    "description": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Optional short note, or null if unset."
                    },
                    "external_id": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Your own id for this client/brand, or null if unset."
                    },
                    "metadata": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string",
                        "maxLength": 40
                      },
                      "additionalProperties": {
                        "anyOf": [
                          {
                            "type": "string",
                            "maxLength": 500
                          },
                          {
                            "type": "number"
                          },
                          {
                            "type": "boolean"
                          }
                        ]
                      },
                      "description": "Your own key/value context (defaults to {})."
                    },
                    "created_at": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "ISO-8601 creation time."
                    },
                    "updated_at": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "ISO-8601 last-update time."
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "description",
                    "external_id",
                    "metadata",
                    "created_at",
                    "updated_at"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "type",
                    "title",
                    "status",
                    "code"
                  ],
                  "description": "An RFC 9457 problem response.",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "A URL to this code's documentation page.",
                      "examples": [
                        "https://docs.postrun.ai/errors/idempotency_key_invalid"
                      ]
                    },
                    "title": {
                      "type": "string",
                      "description": "A stable, human-readable summary of the error code.",
                      "examples": [
                        "The request failed."
                      ]
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code.",
                      "examples": [
                        400
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "idempotency_key_invalid"
                      ],
                      "description": "The machine-readable error code — branch on this. Narrowed to the codes this endpoint can return at this status.",
                      "examples": [
                        "idempotency_key_invalid"
                      ]
                    },
                    "detail": {
                      "type": "string",
                      "description": "An occurrence-specific, human-readable explanation."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "The request id, for support and log correlation."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "type",
                    "title",
                    "status",
                    "code"
                  ],
                  "description": "An RFC 9457 problem response.",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "A URL to this code's documentation page.",
                      "examples": [
                        "https://docs.postrun.ai/errors/unauthorized"
                      ]
                    },
                    "title": {
                      "type": "string",
                      "description": "A stable, human-readable summary of the error code.",
                      "examples": [
                        "Authentication is required."
                      ]
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code.",
                      "examples": [
                        401
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "unauthorized"
                      ],
                      "description": "The machine-readable error code — branch on this. Narrowed to the codes this endpoint can return at this status.",
                      "examples": [
                        "unauthorized"
                      ]
                    },
                    "detail": {
                      "type": "string",
                      "description": "An occurrence-specific, human-readable explanation."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "The request id, for support and log correlation."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "type",
                    "title",
                    "status",
                    "code"
                  ],
                  "description": "An RFC 9457 problem response.",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "A URL to this code's documentation page.",
                      "examples": [
                        "https://docs.postrun.ai/errors/forbidden"
                      ]
                    },
                    "title": {
                      "type": "string",
                      "description": "A stable, human-readable summary of the error code.",
                      "examples": [
                        "You do not have permission to perform this action."
                      ]
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code.",
                      "examples": [
                        403
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "forbidden"
                      ],
                      "description": "The machine-readable error code — branch on this. Narrowed to the codes this endpoint can return at this status.",
                      "examples": [
                        "forbidden"
                      ]
                    },
                    "detail": {
                      "type": "string",
                      "description": "An occurrence-specific, human-readable explanation."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "The request id, for support and log correlation."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "type",
                    "title",
                    "status",
                    "code"
                  ],
                  "description": "An RFC 9457 problem response.",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "A URL to this code's documentation page.",
                      "examples": [
                        "https://docs.postrun.ai/errors/not_found"
                      ]
                    },
                    "title": {
                      "type": "string",
                      "description": "A stable, human-readable summary of the error code.",
                      "examples": [
                        "The requested resource was not found."
                      ]
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code.",
                      "examples": [
                        404
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "not_found"
                      ],
                      "description": "The machine-readable error code — branch on this. Narrowed to the codes this endpoint can return at this status.",
                      "examples": [
                        "not_found"
                      ]
                    },
                    "detail": {
                      "type": "string",
                      "description": "An occurrence-specific, human-readable explanation."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "The request id, for support and log correlation."
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "409",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "type",
                    "title",
                    "status",
                    "code"
                  ],
                  "description": "An RFC 9457 problem response.",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "A URL to this code's documentation page.",
                      "examples": [
                        "https://docs.postrun.ai/errors/conflict"
                      ]
                    },
                    "title": {
                      "type": "string",
                      "description": "A stable, human-readable summary of the error code.",
                      "examples": [
                        "The request conflicts with the current state of the resource."
                      ]
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code.",
                      "examples": [
                        409
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "conflict",
                        "idempotency_request_in_progress"
                      ],
                      "description": "The machine-readable error code — branch on this. Narrowed to the codes this endpoint can return at this status.",
                      "examples": [
                        "conflict"
                      ]
                    },
                    "detail": {
                      "type": "string",
                      "description": "An occurrence-specific, human-readable explanation."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "The request id, for support and log correlation."
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "type",
                    "title",
                    "status",
                    "code"
                  ],
                  "description": "An RFC 9457 problem response.",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "A URL to this code's documentation page.",
                      "examples": [
                        "https://docs.postrun.ai/errors/idempotency_key_reused"
                      ]
                    },
                    "title": {
                      "type": "string",
                      "description": "A stable, human-readable summary of the error code.",
                      "examples": [
                        "The request failed."
                      ]
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code.",
                      "examples": [
                        422
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "idempotency_key_reused"
                      ],
                      "description": "The machine-readable error code — branch on this. Narrowed to the codes this endpoint can return at this status.",
                      "examples": [
                        "idempotency_key_reused"
                      ]
                    },
                    "detail": {
                      "type": "string",
                      "description": "An occurrence-specific, human-readable explanation."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "The request id, for support and log correlation."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "429",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "type",
                    "title",
                    "status",
                    "code"
                  ],
                  "description": "An RFC 9457 problem response.",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "A URL to this code's documentation page.",
                      "examples": [
                        "https://docs.postrun.ai/errors/rate_limited"
                      ]
                    },
                    "title": {
                      "type": "string",
                      "description": "A stable, human-readable summary of the error code.",
                      "examples": [
                        "Rate limit exceeded for this account."
                      ]
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code.",
                      "examples": [
                        429
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "rate_limited"
                      ],
                      "description": "The machine-readable error code — branch on this. Narrowed to the codes this endpoint can return at this status.",
                      "examples": [
                        "rate_limited"
                      ]
                    },
                    "detail": {
                      "type": "string",
                      "description": "An occurrence-specific, human-readable explanation."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "The request id, for support and log correlation."
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "@postrun/js",
            "source": "import { createPostrunClient, profilesGet } from '@postrun/js';\n\nconst client = createPostrunClient({ getToken });\n\nconst { data } = await profilesGet({\n  client,\n  path: { id: '…' },\n});"
          }
        ]
      },
      "patch": {
        "operationId": "profiles.update",
        "summary": "Update a profile",
        "description": "Updates a profile. Send only the fields you want to change; provide at least one.",
        "tags": [
          "Profiles"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Profile id."
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255,
                    "description": "New display name for the profile."
                  },
                  "description": {
                    "anyOf": [
                      {
                        "type": "string",
                        "maxLength": 280
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "description": "New short note, or null to clear the existing note. Omit to leave unchanged."
                  },
                  "external_id": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255,
                    "description": "New id for this client/brand (unique within your account). Omit to leave unchanged."
                  },
                  "metadata": {
                    "type": "object",
                    "propertyNames": {
                      "type": "string",
                      "maxLength": 40
                    },
                    "additionalProperties": {
                      "anyOf": [
                        {
                          "type": "string",
                          "maxLength": 500
                        },
                        {
                          "type": "number"
                        },
                        {
                          "type": "boolean"
                        }
                      ]
                    },
                    "description": "Replacement key/value context — REPLACES the stored object wholesale (not merged). Omit to leave unchanged."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Profile id."
                    },
                    "name": {
                      "type": "string",
                      "description": "Display name."
                    },
                    "description": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Optional short note, or null if unset."
                    },
                    "external_id": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Your own id for this client/brand, or null if unset."
                    },
                    "metadata": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string",
                        "maxLength": 40
                      },
                      "additionalProperties": {
                        "anyOf": [
                          {
                            "type": "string",
                            "maxLength": 500
                          },
                          {
                            "type": "number"
                          },
                          {
                            "type": "boolean"
                          }
                        ]
                      },
                      "description": "Your own key/value context (defaults to {})."
                    },
                    "created_at": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "ISO-8601 creation time."
                    },
                    "updated_at": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "ISO-8601 last-update time."
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "description",
                    "external_id",
                    "metadata",
                    "created_at",
                    "updated_at"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "type",
                    "title",
                    "status",
                    "code"
                  ],
                  "description": "An RFC 9457 problem response.",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "A URL to this code's documentation page.",
                      "examples": [
                        "https://docs.postrun.ai/errors/idempotency_key_invalid"
                      ]
                    },
                    "title": {
                      "type": "string",
                      "description": "A stable, human-readable summary of the error code.",
                      "examples": [
                        "The request failed."
                      ]
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code.",
                      "examples": [
                        400
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "idempotency_key_invalid"
                      ],
                      "description": "The machine-readable error code — branch on this. Narrowed to the codes this endpoint can return at this status.",
                      "examples": [
                        "idempotency_key_invalid"
                      ]
                    },
                    "detail": {
                      "type": "string",
                      "description": "An occurrence-specific, human-readable explanation."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "The request id, for support and log correlation."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "type",
                    "title",
                    "status",
                    "code"
                  ],
                  "description": "An RFC 9457 problem response.",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "A URL to this code's documentation page.",
                      "examples": [
                        "https://docs.postrun.ai/errors/unauthorized"
                      ]
                    },
                    "title": {
                      "type": "string",
                      "description": "A stable, human-readable summary of the error code.",
                      "examples": [
                        "Authentication is required."
                      ]
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code.",
                      "examples": [
                        401
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "unauthorized"
                      ],
                      "description": "The machine-readable error code — branch on this. Narrowed to the codes this endpoint can return at this status.",
                      "examples": [
                        "unauthorized"
                      ]
                    },
                    "detail": {
                      "type": "string",
                      "description": "An occurrence-specific, human-readable explanation."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "The request id, for support and log correlation."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "type",
                    "title",
                    "status",
                    "code"
                  ],
                  "description": "An RFC 9457 problem response.",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "A URL to this code's documentation page.",
                      "examples": [
                        "https://docs.postrun.ai/errors/forbidden"
                      ]
                    },
                    "title": {
                      "type": "string",
                      "description": "A stable, human-readable summary of the error code.",
                      "examples": [
                        "You do not have permission to perform this action."
                      ]
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code.",
                      "examples": [
                        403
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "forbidden"
                      ],
                      "description": "The machine-readable error code — branch on this. Narrowed to the codes this endpoint can return at this status.",
                      "examples": [
                        "forbidden"
                      ]
                    },
                    "detail": {
                      "type": "string",
                      "description": "An occurrence-specific, human-readable explanation."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "The request id, for support and log correlation."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "type",
                    "title",
                    "status",
                    "code"
                  ],
                  "description": "An RFC 9457 problem response.",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "A URL to this code's documentation page.",
                      "examples": [
                        "https://docs.postrun.ai/errors/not_found"
                      ]
                    },
                    "title": {
                      "type": "string",
                      "description": "A stable, human-readable summary of the error code.",
                      "examples": [
                        "The requested resource was not found."
                      ]
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code.",
                      "examples": [
                        404
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "not_found"
                      ],
                      "description": "The machine-readable error code — branch on this. Narrowed to the codes this endpoint can return at this status.",
                      "examples": [
                        "not_found"
                      ]
                    },
                    "detail": {
                      "type": "string",
                      "description": "An occurrence-specific, human-readable explanation."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "The request id, for support and log correlation."
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "409",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "type",
                    "title",
                    "status",
                    "code"
                  ],
                  "description": "An RFC 9457 problem response.",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "A URL to this code's documentation page.",
                      "examples": [
                        "https://docs.postrun.ai/errors/conflict"
                      ]
                    },
                    "title": {
                      "type": "string",
                      "description": "A stable, human-readable summary of the error code.",
                      "examples": [
                        "The request conflicts with the current state of the resource."
                      ]
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code.",
                      "examples": [
                        409
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "conflict",
                        "idempotency_request_in_progress"
                      ],
                      "description": "The machine-readable error code — branch on this. Narrowed to the codes this endpoint can return at this status.",
                      "examples": [
                        "conflict"
                      ]
                    },
                    "detail": {
                      "type": "string",
                      "description": "An occurrence-specific, human-readable explanation."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "The request id, for support and log correlation."
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "type",
                    "title",
                    "status",
                    "code"
                  ],
                  "description": "An RFC 9457 problem response.",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "A URL to this code's documentation page.",
                      "examples": [
                        "https://docs.postrun.ai/errors/idempotency_key_reused"
                      ]
                    },
                    "title": {
                      "type": "string",
                      "description": "A stable, human-readable summary of the error code.",
                      "examples": [
                        "The request failed."
                      ]
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code.",
                      "examples": [
                        422
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "idempotency_key_reused"
                      ],
                      "description": "The machine-readable error code — branch on this. Narrowed to the codes this endpoint can return at this status.",
                      "examples": [
                        "idempotency_key_reused"
                      ]
                    },
                    "detail": {
                      "type": "string",
                      "description": "An occurrence-specific, human-readable explanation."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "The request id, for support and log correlation."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "429",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "type",
                    "title",
                    "status",
                    "code"
                  ],
                  "description": "An RFC 9457 problem response.",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "A URL to this code's documentation page.",
                      "examples": [
                        "https://docs.postrun.ai/errors/rate_limited"
                      ]
                    },
                    "title": {
                      "type": "string",
                      "description": "A stable, human-readable summary of the error code.",
                      "examples": [
                        "Rate limit exceeded for this account."
                      ]
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code.",
                      "examples": [
                        429
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "rate_limited"
                      ],
                      "description": "The machine-readable error code — branch on this. Narrowed to the codes this endpoint can return at this status.",
                      "examples": [
                        "rate_limited"
                      ]
                    },
                    "detail": {
                      "type": "string",
                      "description": "An occurrence-specific, human-readable explanation."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "The request id, for support and log correlation."
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "@postrun/js",
            "source": "import { createPostrunClient, profilesUpdate } from '@postrun/js';\n\nconst client = createPostrunClient({ getToken });\n\nconst { data } = await profilesUpdate({\n  client,\n  path: { id: '…' },\n  body: { /* … */ },\n});"
          }
        ]
      },
      "delete": {
        "operationId": "profiles.delete",
        "summary": "Delete a profile",
        "description": "Deletes a profile. The profile must have no connections — delete its connections first.",
        "tags": [
          "Profiles"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Profile id."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Id of the deleted profile."
                    },
                    "object": {
                      "const": "profile",
                      "description": "Always the string `profile`."
                    },
                    "deleted": {
                      "const": true,
                      "description": "Always `true` — the profile was deleted."
                    }
                  },
                  "required": [
                    "id",
                    "object",
                    "deleted"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "type",
                    "title",
                    "status",
                    "code"
                  ],
                  "description": "An RFC 9457 problem response.",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "A URL to this code's documentation page.",
                      "examples": [
                        "https://docs.postrun.ai/errors/idempotency_key_invalid"
                      ]
                    },
                    "title": {
                      "type": "string",
                      "description": "A stable, human-readable summary of the error code.",
                      "examples": [
                        "The request failed."
                      ]
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code.",
                      "examples": [
                        400
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "idempotency_key_invalid"
                      ],
                      "description": "The machine-readable error code — branch on this. Narrowed to the codes this endpoint can return at this status.",
                      "examples": [
                        "idempotency_key_invalid"
                      ]
                    },
                    "detail": {
                      "type": "string",
                      "description": "An occurrence-specific, human-readable explanation."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "The request id, for support and log correlation."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "type",
                    "title",
                    "status",
                    "code"
                  ],
                  "description": "An RFC 9457 problem response.",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "A URL to this code's documentation page.",
                      "examples": [
                        "https://docs.postrun.ai/errors/unauthorized"
                      ]
                    },
                    "title": {
                      "type": "string",
                      "description": "A stable, human-readable summary of the error code.",
                      "examples": [
                        "Authentication is required."
                      ]
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code.",
                      "examples": [
                        401
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "unauthorized"
                      ],
                      "description": "The machine-readable error code — branch on this. Narrowed to the codes this endpoint can return at this status.",
                      "examples": [
                        "unauthorized"
                      ]
                    },
                    "detail": {
                      "type": "string",
                      "description": "An occurrence-specific, human-readable explanation."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "The request id, for support and log correlation."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "type",
                    "title",
                    "status",
                    "code"
                  ],
                  "description": "An RFC 9457 problem response.",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "A URL to this code's documentation page.",
                      "examples": [
                        "https://docs.postrun.ai/errors/forbidden"
                      ]
                    },
                    "title": {
                      "type": "string",
                      "description": "A stable, human-readable summary of the error code.",
                      "examples": [
                        "You do not have permission to perform this action."
                      ]
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code.",
                      "examples": [
                        403
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "forbidden"
                      ],
                      "description": "The machine-readable error code — branch on this. Narrowed to the codes this endpoint can return at this status.",
                      "examples": [
                        "forbidden"
                      ]
                    },
                    "detail": {
                      "type": "string",
                      "description": "An occurrence-specific, human-readable explanation."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "The request id, for support and log correlation."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "type",
                    "title",
                    "status",
                    "code"
                  ],
                  "description": "An RFC 9457 problem response.",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "A URL to this code's documentation page.",
                      "examples": [
                        "https://docs.postrun.ai/errors/not_found"
                      ]
                    },
                    "title": {
                      "type": "string",
                      "description": "A stable, human-readable summary of the error code.",
                      "examples": [
                        "The requested resource was not found."
                      ]
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code.",
                      "examples": [
                        404
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "not_found"
                      ],
                      "description": "The machine-readable error code — branch on this. Narrowed to the codes this endpoint can return at this status.",
                      "examples": [
                        "not_found"
                      ]
                    },
                    "detail": {
                      "type": "string",
                      "description": "An occurrence-specific, human-readable explanation."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "The request id, for support and log correlation."
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "409",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "type",
                    "title",
                    "status",
                    "code"
                  ],
                  "description": "An RFC 9457 problem response.",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "A URL to this code's documentation page.",
                      "examples": [
                        "https://docs.postrun.ai/errors/conflict"
                      ]
                    },
                    "title": {
                      "type": "string",
                      "description": "A stable, human-readable summary of the error code.",
                      "examples": [
                        "The request conflicts with the current state of the resource."
                      ]
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code.",
                      "examples": [
                        409
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "conflict",
                        "idempotency_request_in_progress"
                      ],
                      "description": "The machine-readable error code — branch on this. Narrowed to the codes this endpoint can return at this status.",
                      "examples": [
                        "conflict"
                      ]
                    },
                    "detail": {
                      "type": "string",
                      "description": "An occurrence-specific, human-readable explanation."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "The request id, for support and log correlation."
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "schema": {
[...]
